.logo{
    width: 20%;
}

.header nav{
    background-color:black;
    margin-top: 25px;
    padding: 12px 0;
    text-align: right;
    
}

.header nav a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    padding: 10px 5px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: semi-bold;
}

.header nav a:hover{
    background-color: white;
    color: black;
}